.principalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  background-image: url("../../assets/videogame.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100vh;
}

.toHomeButton {
  width: 200px;
  height: 60px;
  border: none;
  cursor: pointer;
  box-shadow: 8px 10px 20px black;
  font-weight: 700;
  font-size: 16px;
}
.toHomeButton:hover {
  transition: all 200ms ease-in;
  background-color: #93203c;
  color: white;
}


