.cardGame {
  background-color: #f3f3f3;
  margin: 10px;
  width: 300px;
  border-radius: 12px;
  transition: all 200ms ease;
}
.cardGame img {
  width: 80%;
  height: 200px;
  object-fit: cover;
  user-select: none;
  border-radius: 10px;
}
.linkToDetail {
  text-decoration: none;
  color: black;
}

.nameContainer {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  align-self: start;
  height: 60px;
  padding-bottom: 15px;
}
.headCard {
  padding-bottom: 10px;
}
.headCard:hover {
  cursor: pointer;
  background-color: whitesmoke;
  border-radius: 12px;
  transform: scale(1.02);
  transition: all 200ms ease-out;
  box-shadow: 8px 5px 25px rgba(0, 0, 0, 0.535);
}

.principalRatingContainer {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.unlikedButton {
  margin-left: 20px;
  width: 32px;
  border: none;
  width: 32px;
  display: flex;
  background-image: url("../../assets/like-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.unlikedButton:hover {
  cursor: pointer;
}
.likedButton:hover {
  cursor: pointer;
}
.likedButton {
  margin-left: 20px;
  width: 32px;
  border: none;
  width: 32px;
  display: flex;
  background-image: url("../../assets/like-filled-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  align-items: center;
}

.principalRatingContainer h5 {
  color: white;
}
.rating {
  background-color: #93203c;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  padding-right: 25px;
  align-items: center;
}

.starIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  width: 15px;
  height: 15px;
}

.starIconContainer img {
  width: 15px;
  height: 15px;
}

@media screen and (max-width: 650px) {
  .cardGame {
    width: 150px;
  }
  .cardGame img {
    width: 80px;
    height: 100px;
  }
  .starIconContainer img {
    width: 10px;
    height: 10px;
  }
  .nameContainer h3 {
    font-size: 14px;
  }
  .principalRatingContainer h5 {
    font-size: 10px;
  }
  .rating {
    height: 25px;
    width: 50px;
  }
  .unlikedButton {
    width: 16px;
    height: 16px;
  }
  .likedButton {
    width: 16px;
    height: 16px;
  }
  .headCard:hover {
    cursor: none;
    border-radius: 12px;
    transition: none;
    box-shadow: none;
  }
}
