.loadingVideogame {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameOfGame {
  margin-top: 10px;
  margin-bottom: 20px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.cardImage {
  width: 50vw;
  height: 30vw;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 4px 6px 20px grey;
  margin-bottom: 40px;
  margin-bottom: 40px;
}

.cardImage img {
  overflow: auto;
  object-fit: cover;
  border-radius: 12px;
  user-select: none;
}
.unlikedButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-image: url("../../assets/like-icon.png");
}
.likedButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-image: url("../../assets/like-filled-icon.png");
}

.descriptionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 20px;
}

.description {
  width: 70vw;
  text-align: justify;
  font-family: sans-serif;
}

.relAndRatContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.releasedAndRat {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  padding-left: 10vw;
  padding-right: 10vw;
}

.releasedAndRat .released {
  font-weight: 600;
}

.releasedAndRat .releasedDate {
  padding-left: 5px;
  color: grey;
  font-weight: bold;
}

.rating {
  display: flex;
  justify-content: center;
}

.rating span {
  font-weight: 600;
}

.ratingIcon {
  padding-right: 5px;
}
.ratingIcon img {
  object-fit: contain;
  width: 15px;
}

.platforms {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.platforms div {
  width: 70vw;
  text-align: start;
  font-weight: 600;
}
.platforms div ul {
  text-align: start;
  list-style-type: square;
  color: grey;
}

@media screen and (max-width: 650px) {
  h2 {
    font-size: 14px;
  }
  .released {
    font-size: 13px;
  }
  .releasedDate {
    font-size: 13px;
  }
  .rating {
    font-size: 13px;
  }

  .description {
    font-size: 12px;
    font-family: sans-serif;
  }
  .platforms {
    font-size: 12px;
  }
  .platforms div ul li {
    font-size: 10px;
  }
  .unlikedButton {
    background-image: url("../../assets/like-icon-16px.png");
    width: 16px;
    height: 16px;
    margin-bottom: 15px;
    cursor: none;
  }
  .likedButton {
    background-image: url("../../assets/like-filled-icon-16px.png");
    width: 16px;
    height: 16px;
    margin-bottom: 15px;
    cursor: none;
  }
}
