.loadingHomepage {
  width: 90vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtersContainer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
}

.addVideogameCard {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.linkStyle {
  text-decoration: none;
}
.addVideogameCard button {
  font-size: 16px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  margin-right: 5vw;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #93203c;
  user-select: none;
}
.addVideogameCard button:hover {
  cursor: pointer;
}
.addVideogameCard button:focus {
  outline: none;
}

.gamesContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.linkToDetail {
  text-decoration: none;
  color: black;
}

.searchInput {
  background-color: #f3f3f3;
  font-size: 14px;
  padding: 15px;
  width: 40%;
  text-align: center;
  border: none;
  border-radius: 12px;
  color: rgba(0, 0, 0, 0.549);
}
.searchInput:focus {
  outline: none;
}

.submitBtn {
  border-radius: 12px;
  font-size: 14px;
  margin-left: 15px;
  background-color: #f3f3f3;
  width: 80px;
  border: none;
  padding: 15px;
}
.submitDisabledBtn {
  border-radius: 12px;
  font-size: 14px;
  margin-left: 15px;
  background-color: #f3f3f3;
  width: 80px;
  border: none;
  padding: 15px;
}

.submitBtn:hover {
  background-color: #93203c;
  cursor: pointer;
  color: white;
  transition: all 200ms ease-in-out;
}
.searchBarAndBtn {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 650px) {
  .filtersContainer {
    flex-direction: column;
    align-items: center;
  }
  .addVideogameCard button {
    height: 35px;
    font-size: 10px;
    width: 100px;
    font-weight: 400;
  }
  .searchInput {
    height: 30px;
    font-size: 8px;
    width: 250px;
  }
  .submitBtn {
    background-color: #93203c;
    color: white;
    height: 30px;
    padding: 5px;
    width: 60px;
    font-size: 8px;
  }
  .submitDisabledBtn {
    height: 30px;
    padding: 5px;
    width: 60px;
    font-size: 8px;
  }
  h2 {
    font-size: 16px;
  }
  h5 {
    font-size: 12px;
  }
}
